
<p class='pull-right'>
  [<%= link_to 'Edit this post', edit_post_path(@post) %>]
</p>

<%= render 'shared/title', title: @post.title %>
<%= render 'post', post: @post, comment: @comment %>

<%= render 'shared/error', obj:@comment %>

<!-- <h5>Add Comment:</h5> -->
<!--
<%= form_tag post_comments_path(@post) do %>
	<%= text_area_tag :keyword %>
	<br>
	<%= submit_tag %>
<% end %>
-->

<% if current_user %>
  <%= form_for [@post, @comment] do |c| %>
  	<div class = 'control-group'>
  		<%= c.label :body, 'Leave a comment' %>
  		<%= c.text_area :body, rows: 3, class: 'span4' %>
  	</div>
  	<%= c.submit 'add new comment', class: 'btn btn-primary'%>
  <% end %>
<% end %>

<h5>Comments:</h5>

<% @post.comments.each do |c| %>
	<%= render 'comment', comment: c %>
<% end %>
